@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}

header {
    background-color: black;
    color: white;
    height:190px;
    text-align: center;
}

header h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 4em;
    padding-top: 30px;
}

header p {
    font-size: 2em;
}

section {
    width: 100vw;
    height: 100vh;
    box-shadow: 5px 5px 5px black;
    margin-bottom: 0.4em;
}

section.imagem {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

section.imagem > iframe {
    position: absolute;
}

section.imagem > iframe#vd1 {
    width: 50%;
    height: 60%;
    top:50px;
    left: 40%;
}

section.imagem > iframe#vd2 {
    width: 50%;
    height: 60%;
    top: 100px;
    left: 40px;
}

section.imagem > iframe#vd3 {
    width: 50%;
    height: 60%;
    top: 25%;
    left: 25%;
}

section#img1 {
    background-image: url('../imagens/warzone.jpg');
    background-position: left top;
}

section#img2 {
    background-image: url('../imagens/crash.jpg');
}

section#img3 {
    background-image: url('../imagens/cod-coldwar.jpg');
    margin: 0px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
