@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}

header {
    background-color: black;
    color: white;
    min-height:190px;
    text-align: center;
}

header h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: clamp(3em, 4vw, 4em);
    padding-top: 30px;
}

header p {
    font-size: clamp(1em, 1.5vw, 1.5em);
    padding-bottom: 30px;
}

section.container-imagem {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100vh;
    box-shadow: 5px 5px 5px black;
    margin-bottom: 0.4em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.embed {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.embed iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: 4px 6px 12px  rgba(0, 0, 0, 0.74);
}

.col {
    place-self: center;
    min-width: 480px;
    width: 50%;
    height: 480px;
}

section#img1 {
    background-image: url('../imagens/warzone.jpg');
    background-position: left top;
}

section#img2 {
    background-image: url('../imagens/crash.jpg');
    background-position: right center;
}

section#img3 {
    background-image: url('../imagens/cod-coldwar.jpg');
    margin: 0px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
