@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}

header {
    background-color: black;
    color: white;
    height:150px;
    text-align: center;
}

header h1 {
    padding-top: 30px;
}

section {
    width: 98.7vw;
    height: 100vh;
}

section.imagem {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

section.imagem > iframe {
    position: absolute;
}

section.imagem > iframe#vd1 {
    width: 50%;
    height: 60%;
    top:50px;
    left: 500px;
}

section#img1 {
    background-image: url('../imagens/warzone.jpg');
}

section#img2 {
    background-image: url('../imagens/crash.jpg');
}

section#img3 {
    background-image: url('../imagens/cod-coldwar.jpg');
}
